name: Build OOK_Receiver

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build with PlatformIO
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install platformio
        working-directory: example/OOK_Receiver
        run: |
          python -m pip install --upgrade pip
          pip install platformio
      - name: Run PlatformIO
        working-directory: example/OOK_Receiver
        run: platformio run